/* Light Theme */
body.light {
  background-color: #ffffff;
  color: #000000;
}
body.light .navbar {
  background-color: #f8f9fa !important;
  color: #000 !important;
}

/* Dark Theme */
body.dark {
  background-color: #121212;
  color: #ffffff;
}
body.dark .navbar {
  background-color: #1e1e1e !important;
  color: #fff !important;
}
body.dark .card,
body.dark .accordion-item {
  background-color: #1f1f1f;
  color: #ffffff;
}
